<!--
  ~ Copyright 2023 Manuel Riesen, Sandro Rüfenacht, Sven Trachsel
  ~
  ~ Use of this source code is governed by an MIT-style
  ~ license that can be found in the LICENSE file or at
  ~ https://opensource.org/licenses/MIT.
  -->

<mat-toolbar class="header" color="primary">
  <h1>Traffic Counter</h1>
  <mat-select (selectionChange)="setLanguage($event.value)" [value]="languageService.currentLanguage$ | async"
              class="language-select">
    <mat-option *ngFor="let language of languageService.languages" [value]="language">
      {{ 'language.' + language | translate }}
    </mat-option>
  </mat-select>
</mat-toolbar>
