.map-sidebar {
  padding: 2vh 2vw;

  mat-button-toggle-group {
    display: flex;
  }

  .selected-point-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .info-card-wrapper {
      display: flex;
      justify-content: center;
    }

    & > * {
      margin: 2vh 0;
    }

  }
}
