/*!
 * Copyright 2023 Manuel Riesen, Sandro Rüfenacht, Sven Trachsel
 *
 * Use of this source code is governed by an MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

.map-sidebar {
  padding: 2% 4vw;
  height: 96%;

  mat-button-toggle-group {
    display: flex;
  }

  .selected-point-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .info-card-wrapper {
      display: flex;
      justify-content: center;
    }

    & > * {
      margin: 2% 0;
    }

    .spacer {
      height: 20%;
    }

  }

}
