<div class="map-sidebar">
  <mat-button-toggle-group (change)="updateMode()" [formControl]="modeControl" name="mode">
    <mat-button-toggle value="measurementPoints">{{ 'map.menu.measurement-points' | translate }}</mat-button-toggle>
    <mat-button-toggle value="vehicleAmount">{{ 'map.menu.vehicle-amount' | translate }}</mat-button-toggle>
    <mat-button-toggle value="vehicleSpeed">{{ 'map.menu.vehicle-speed' | translate }}</mat-button-toggle>
  </mat-button-toggle-group>

  <div *ngIf="selectedPointInfo$ | async as selectedPointInfo">
    <app-info-card
      *ngIf="selectedPointInfo !== null"
      [info]="selectedPointInfo"
    ></app-info-card>
  </div>

  <app-histogram-menu></app-histogram-menu>

  <app-histogram
    [duration]="histogramDuration$"
    [data]="histogramData$"
  ></app-histogram>

</div>
