<div class="map-sidebar">
  <mat-button-toggle-group (change)="updateMode()" [formControl]="modeControl" name="mode">
    <mat-button-toggle value="measurementPoints">{{ 'map.menu.measurement-points' | translate }}</mat-button-toggle>
    <mat-button-toggle value="vehicleAmount">{{ 'map.menu.vehicle-amount' | translate }}</mat-button-toggle>
    <mat-button-toggle value="vehicleSpeed">{{ 'map.menu.vehicle-speed' | translate }}</mat-button-toggle>
  </mat-button-toggle-group>

  <div *ngIf="selectedPointInfo$ | async as selectedPointInfo">
    <app-info-card
      *ngIf="selectedPointInfo !== null"
      [info]="selectedPointInfo"
    ></app-info-card>
  </div>

  <app-histogram-menu></app-histogram-menu>

  <div *ngIf="histogramDuration$ | async as histogramDuration">
    <div *ngIf="histogramData$ | async as histogramData">
    <app-histogram
      *ngIf="histogramDuration !== null && histogramData !== null"
      [duration]="histogramDuration"
      [data]="this.histogramData"
    ></app-histogram>
  </div>

</div>
