<!--
  ~ Copyright 2023 Manuel Riesen, Sandro Rüfenacht, Sven Trachsel
  ~
  ~ Use of this source code is governed by an MIT-style
  ~ license that can be found in the LICENSE file or at
  ~ https://opensource.org/licenses/MIT.
  -->

<app-map-menu-bar></app-map-menu-bar>
<div class="map-page">
  <app-map-side-bar *ngIf="showSidebar$ | async"></app-map-side-bar>
  <div [class.full-width]="!(showSidebar$ | async)"
       id="map-container">
    <app-map-display
      [measurement-points]="measurementPoints$"
      [vehicle-data]="vehicleData$"
    ></app-map-display>
  </div>
</div>


