.map-page {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  app-map-side-bar {
    margin-inline: auto;
    width: 30%;
  }

  app-map-menu {
    flex-grow: 1;
  }

  #map-container {
    height: 100vh;
    flex-basis: 70%;

    &.full-width {
      flex-basis: 100%;
      width: 100%;

      & + app-map-menu {
        flex-basis: 0;
        width: 0;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .map-page {

    app-map-side-bar {
      width: 100%;
    }

    #map-container:not(.full-width) {
        display: none;
    }
  }
}
