<!--
  ~ Copyright 2023 Manuel Riesen, Sandro Rüfenacht, Sven Trachsel
  ~
  ~ Use of this source code is governed by an MIT-style
  ~ license that can be found in the LICENSE file or at
  ~ https://opensource.org/licenses/MIT.
  -->

<mat-button-toggle-group class="map-options" (change)="updateMode()" [formControl]="modeControl" name="mode">
  <mat-button-toggle value="measurementPoints">{{ 'map.menu.measurement-points' | translate }}</mat-button-toggle>
  <mat-button-toggle value="vehicleAmount">{{ 'map.menu.vehicle-amount' | translate }}</mat-button-toggle>
  <mat-button-toggle value="vehicleSpeed">{{ 'map.menu.vehicle-speed' | translate }}</mat-button-toggle>
</mat-button-toggle-group>
