/*!
 * Copyright 2023 Manuel Riesen, Sandro Rüfenacht, Sven Trachsel
 *
 * Use of this source code is governed by an MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

.map-menu-toolbar {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  z-index: 1000;

 .map-options mat-button-toggle {
   font-size: 12pt;
   font-weight: normal;
 }

}
