<!--
  ~ Copyright 2023 Manuel Riesen, Sandro Rüfenacht, Sven Trachsel
  ~
  ~ Use of this source code is governed by an MIT-style
  ~ license that can be found in the LICENSE file or at
  ~ https://opensource.org/licenses/MIT.
  -->

<mat-button-toggle-group name="histogram-duration" (change)="updateDuration($event)" value="24h">
  <mat-button-toggle value="24h">{{ 'map.histogram.menu.24h' | translate }}</mat-button-toggle>
  <mat-button-toggle value="7d">{{ 'map.histogram.menu.7d' |translate }}</mat-button-toggle>
</mat-button-toggle-group>
